html {
  text-align: center;
  font-family: helvetica;
}

.tophead {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
}

.designedinny {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
}

.designedinny h3 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

span {
  font-size: 11px;
}

.footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}
