html {
  text-align: center;
  font-family: helvetica;
}

.tophead {
  background-image: url("../images/the-flatiron-building.png");
}

.designedinny {
  background-image: url("../images/the-flatiron-building.png");
}

h3 .designedinny {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}
